Source: ros-hydro-rocon-rqt-plugins
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://www.ros.org/wiki/rocon_rqt_plugins
Standards-Version: 3.9.2

Package: ros-hydro-rocon-rqt-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-rocon-gateway-graph
Description: Rqt plugins for monitoring and interacting with the rocon framework.
