Source: ros-groovy-rocon-gateway-graph
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin
Homepage: http://wiki.ros.org/rocon_gateway_graph
Standards-Version: 3.9.2

Package: ros-groovy-rocon-gateway-graph
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-rospkg, ros-groovy-qt-gui-py-common, ros-groovy-rocon-gateway, ros-groovy-rospy, ros-groovy-rqt-gui, ros-groovy-rqt-gui-py
Description: A hub acts as a shared key-value store for multiple ros systems (primarily used by gateways).
