Source: ros-hydro-rocon-gateway-graph
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://wiki.ros.org/rocon_gateway_graph
Standards-Version: 3.9.2

Package: ros-hydro-rocon-gateway-graph
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-rospkg, ros-hydro-qt-dotgraph, ros-hydro-qt-gui-py-common, ros-hydro-rocon-gateway, ros-hydro-rocon-utilities, ros-hydro-rospy, ros-hydro-rqt-gui, ros-hydro-rqt-gui-py
Description: An rqt plugin that displays the gateway graph across multiple ros masters from the perspective of the master executing the plugin.
